# secrets.py
# template used to feed secrets into mail.py
# please rename this file to secrets.py

secrets = {
    'EMAIL': '', 
    'PASSWORD': '',
    'TENANT': '', # no trailing slash allowed example -> 'https://abc12345.live.dynatrace.com'
    'KEY': ''
}